name: Release
on:
  push:
    tags:
      - "*"

permissions:
  contents: write
  actions: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0

      - name: Build and push image
        run: devbox run make image

      - name: Create Release Artifacts
        run: devbox run make release
        env:
          IMAGE_VERSION: ${{ github.ref_name }}

      - name: Upload Release Artifacts
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: |
            ./release/karpenter-${{ github.ref_name }}.tgz
            ./release/karpenter-crd-${{ github.ref_name }}.tgz
