name: Release
on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write
  actions: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: 'true'
          refresh-cli: 'false'

      - name: Create Release Artifacts
        run: devbox run make release
        env:
          IMAGE_VERSION: ${{ github.ref_name }}

      - name: Upload Release Artifacts
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: |
            ./release/karpenter-${{ github.ref_name }}.tgz
            ./release/karpenter-crd-${{ github.ref_name }}.tgz
